<h1>
    {{ server_name }}
    <small style="display: inline-block;" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            {{ hostname == 'all' ? 'All hosts' : hostname }} <b class="caret"></b>
        </a>
    <ul class="dropdown-menu">
      {% set host = 'all' %}
      <li class="{{ host == hostname ? 'active' : '' }}"><a href="{{ path(app.request.get('_route'), { serverName: server_name, hostName: host}) }}" title="">all hosts</a></li>
      {% for host in hosts %}
      <li class="{{ host == hostname ? 'active' : '' }}"><a href="{{ path(app.request.get('_route'), { serverName: server_name, hostName: host}) }}" title="">{{ host }}</a></li>
      {% endfor %}
    </ul></small>
</h1>
{% set p = { serverName: server_name, hostName: hostname } %}
<ul class="nav nav-tabs">
  <li class="{{ app.request.get('_route') == 'server' ? 'active' : '' }}">
    <a href="{{ path('server', p) }}">Overview</a>
  </li>
  <li class="{{ (app.request.get('_route') == 'server_req_time') ? 'active' : '' }}">
    <a href="{{ path('server_req_time', p) }}">Request time</a>
  </li>
  <li class="{{ (app.request.get('_route') == 'server_mem_usage') ? 'active' : '' }}">
    <a href="{{ path('server_mem_usage', p) }}">Memory peak usage</a>
  </li>
  <li class="{{ (app.request.get('_route') == 'server_cpu_usage') ? 'active' : '' }}">
    <a href="{{ path('server_cpu_usage', p) }}">CPU peak usage</a>
  </li>
  <li class="{{ (app.request.get('_route') == 'server_statuses') ? 'active' : '' }}">
    <a href="{{ path('server_statuses', p) }}">Statuses</a>
  </li>
  <li class="{{ app.request.get('_route') == 'server_timers' ? 'active' : '' }}">
    <a href="{{ path('server_timers', p) }}">Timers <i class="icon-time"></i></a>
  </li>
{% set params = app.session.get('filter_params') %}
{% if params[server_name] is defined %}
{%   set sparams = p|merge(params[server_name]) %}
{% else %}
{%   set sparams = p %}
{% endif %}
  <li class="{{ app.request.get('_route') == 'server_live' ? 'active' : '' }}">
    <a href="{{ path('server_live', sparams) }}">Live <i class="icon-facetime-video"></i></a>
  </li>
</ul>
