<h1>
    {{ server_name }}
    <small style="display: inline-block;" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            {{ hostname == 'all' ? 'All hosts' : hostname }} <b class="caret"></b>
        </a>
    <ul class="dropdown-menu">
      {% set host = 'all' %}
      <li class="{{ host == hostname ? 'active' : '' }}"><a href="{{ path(app.request.get('_route'), { serverName: server_name, hostName: host}) }}" title="">all hosts</a></li>
      {% for host in hosts %}
      <li class="{{ host == hostname ? 'active' : '' }}"><a href="{{ path(app.request.get('_route'), { serverName: server_name, hostName: host}) }}" title="">{{ host }}</a></li>
      {% endfor %}
    </ul></small>
</h1>
<ul class="nav nav-tabs">
  <li class="{{ app.request.get('_route') == 'server' ? 'active' : '' }}">
    <a href="{{ path('server', { serverName: server_name, hostName: hostname }) }}">Overview</a>
  </li>
  <li class="{{ (app.request.get('_route') == 'server_req_time') ? 'active' : '' }}">
    <a href="{{ path('server_req_time', { serverName: server_name, hostName: hostname }) }}">Request time</a>
  </li>
  <li class="{{ (app.request.get('_route') == 'server_mem_usage') ? 'active' : '' }}">
    <a href="{{ path('server_mem_usage', { serverName: server_name, hostName: hostname }) }}">Memory peak usage</a>
  </li>
  <li class="{{ (app.request.get('_route') == 'server_cpu_usage') ? 'active' : '' }}">
    <a href="{{ path('server_cpu_usage', { serverName: server_name, hostName: hostname }) }}">CPU peak usage</a>
  </li>
  <li class="{{ (app.request.get('_route') == 'server_statuses') ? 'active' : '' }}">
    <a href="{{ path('server_statuses', { serverName: server_name, hostName: hostname }) }}">Statuses</a>
  </li>
  <li class="{{ app.request.get('_route') == 'server_live' ? 'active' : '' }}">
    <a href="{{ path('server_live', { serverName: server_name, hostName: hostname }) }}">Live <i class="icon-facetime-video"></i></a>
  </li>
</ul>
