<html>
    <body>
        <h1>Errors on pages</h1>
        <p>Intaro Pinboard found some pages with error statuses.</p>
        {% for host, info in pages %}
            <h2>{{ host }}</h2>
            <ul>
                {% for page in info %}
                    <li>
                        HTTP status {{ page.status }}: {{ page.server_name ~ page.script_name }}
                        {% if page.count > 1 %}
                            ({{ page.count }})
                        {% else %}
                            (on server "{{ page.hostname }}")
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}

        {% include '_mail_footer.html.twig' %}
    </body>
</html>