{% extends "base.html.twig" %}

{% block content %}
    <h1>Overview <small>for a last day</small></h1>
    {% if servers|length > 0 %}
      <table id="sortedTable" class="table table-bordered table-hover table-striped tablesorter">
        <thead>
        <tr>
          <th>Server Name</th>
          <th>Requests Count</th>
          <th>Requests / Sec</th>
          <th>Pages with errors</th>
        </tr>
        </thead>
        <tbody>
        <tr class="{{ total.error_count > 0 ? 'error' : '' }}">
          <td><b><i>Total</i></b></td>
          <td><b><i>{{ total.req_count }}</i></b></td>
          <td><b><i>–</i></b></td>
          <td><b><i>{{ total.error_count }}</i></b></td>
        </tr>
        {% for server in servers if server.server_name is not empty %}
        <tr class="{{ server.error_count > 0 ? 'error' : '' }}">
          <td><a href="{{ path('server', { serverName: server.server_name }) }}" title="">{{ server.server_name }}</a></td>
          <td>{{ server.req_count }}</td>
          <td>{{ server.req_per_sec }}</td>
          <td>{{ server.error_count }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ base_url }}js/jquery.tablesorter.min.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function() {
    $("#sortedTable").tablesorter();
  });
</script>
{% endblock %}
