{% extends "base.html.twig" %}

{% block title %}{{ title }} — {{ parent() }}{% endblock %}
{% block content %}
    {% include '_server_menu.html.twig' with { title: title, server_name: server_name, hostname: hostname, hosts: hosts } %}      
    <div class="row">
      <div class="span12">
        <p class="lead">Heavy pages for a last day</p>
        {% if pages|length > 0 %}
          <table id="sortedTable" class="table table-bordered table-hover table-striped tablesorter">
            <thead>
            <tr>
              <th>Host name</th>
              <th>Script name</th>
              <th>Memory peak usage, kB</th>
              <th>Registered around</th>
            </tr>
            </thead>
            <tbody>
            {% for page in pages %}
            <tr class="{{ page.mem_peak_usage >= 50000 ? 'error' : (page.mem_peak_usage >= 30000 ? 'warning' : '') }}">
              <td>{{ page.hostname }}</a></td>
              <td><a href="http://{{ page.server_name ~ page.script_name }}" title="">{{ page.script_name }}</a></td>
              <td>{{ page.mem_peak_usage }}</td>
              <td>{{ page.created_at }}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
          {% if rowCount > rowPerPage %}
            <div class="pagination">
              <ul>
                {% if pageNum > 1 %}
                  <li><a href="{{ path('server_mem_usage_page', { serverName: server_name, hostName: hostname, pageNum: pageNum - 1 }) }}">Prev</a></li>
                {% endif %}
                  {% for i in 1..pageCount %}
                    <li {{ pageNum == i ? 'class="active"' : '' }}><a href="{{ path('server_mem_usage_page', { serverName: server_name, hostName: hostname, pageNum: i }) }}">{{ i }}</a></li>
                  {% endfor %}
                {% if pageNum < pageCount %}
                  <li><a href="{{ path('server_mem_usage_page', { serverName: server_name, hostName: hostname, pageNum: pageNum + 1 }) }}">Next</a></li>
                {% endif %}
              </ul>
            </div>
          {% endif %}
        {% else %}
        <p>No heavy pages for a last day.</p>
        {% endif %}
      </div>
    </div>
{% endblock %}