{% extends "base.html.twig" %}

{% block title %}{{ title }} — {{ parent() }}{% endblock %}
{% block content %}
    {% include '_server_menu.html.twig' with { title: title, server_name: server_name, hostname: hostname, hosts: hosts } %}      
    <div class="row">
      <div class="span12">
        <p class="lead">Error pages for a last day</p>
        {% if statuses|length > 0 %}
          <table class="table table-bordered table-hover table-striped">
            <tr>
              <th>Host name</th>
              <th>Script name</th>
              <th>Status</th>
              <th>Registered around</th>
            </tr>
            {% for status in statuses %}
            <tr>
              <td>{{ status.hostname }}</a></td>
              <td><a href="http://{{ status.server_name ~ status.script_name }}" title="">{{ status.script_name }}</a></td>
              <td>{{ status.status }}</td>
              <td>{{ status.created_at }}</td>
            </tr>
            {% endfor %}
          </table>
        {% else %}
        <p>No error pages for a last day.</p>
        {% endif %}
      </div>
    </div>
{% endblock %}
